
<!DOCTYPE html>
<html lang="en">

<head>
	
	 <head itemscope itemtype="https://schema.org/WebSite">
   
  
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	
	<meta name="google-site-verification" content="lHgh29SOBbc0b_mtBlQvr37nyCtwiO9y6KTMEvJj_gU" />
	<meta property="fb:app_id" content="132248660674582" />
	<!-- Favicons -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico">
        
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="manifest" href="/assets/images/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/assets/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="facebook-domain-verification" content="6j13slc4zj89ho8aoxq2o05zr7ly0c" />
        <meta name="msvalidate.01" content="6112DC8DF125B19FB68596FEAA93C23E" />
		
		<meta name="twitter:site" content="@booknmeet" />
		
		<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
	"dateModified": "2023-02-27",
    "url": "https://www.booknmeet.com/",
     "aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "4.9",
    "reviewCount": "346",
	"itemReviewed": {
    "@type": "Localbusiness",
    "name": "Booknmeet",
    "image":"https://www.booknmeet.com/assets/images/booknmeet-logo-website-june-2018-01.png",
	"address": {
    "@type": "PostalAddress",
    "addressLocality": "Nasscom Startup Warehouse",
    "addressRegion": "Kochi",
    "streetAddress": "Infopark Campus,Kakkanad"
  },
  "telephone": "+919496947548"
  }
  }
}
</script>

 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "FinDoctors, India's best appointment scheduling platform",
      "description": "FinDoctors offers a wide selection of online solutions that simplify the process of scheduling appointments that doesn't require registrations.Send automatic and manual reminders, see who is missing at first sight.No switching between calendar and FinDoctors. Avoid booking conflicts. Automatically sync appointments.",
      "thumbnailUrl": [
        "https://www.booknmeet.com/images/FinDoctors-INDIA-FB.png",
        "https://www.booknmeet.com/images/emailer/FinDoctors-YOUTUBE-R.png"
       ],
      "uploadDate": "2019-01-23T08:00:00+05:30",
      "duration": "PT15S",
      "contentUrl": "https://www.youtube.com/watch?v=dCg89Yiu-9A",
      "embedUrl": "https://www.youtube.com/embed/dCg89Yiu-9A",
	  "playerType":"HTML5 Flash",
	  "isFamilyFriendly":"true",
	  "datePublished":"2019-01-23T08:00:00+05:30",
	  "genre":"Medical Information",
      "interactionStatistic": {
        "@type": "InteractionCounter",
        "interactionType": { "@type": "http://schema.org/WatchAction" },
        "userInteractionCount": 3
      }
    }
    </script>
		<script type="application/ld+json">
{
	"@context":"http://schema.org",
	"@type":"Organization",
	"name":"FinDoctors",
	"url":"https://www.booknmeet.com",
	"logo":"https://www.booknmeet.com/img/bnm/FinDoctors.svg",
	"slogan":"Have a safe practice with FinDoctors",
	"sameAs":[
		"https://in.linkedin.com/in/booknmeet",
		"https://g.page/booknmeet",
		"https://twitter.com/booknmeet",
		"https://www.facebook.com/booknmeet",
		"https://www.instagram.com/booknmeet/",
		"https://youtube.com/@booknmeet"]
}
</script>
	<script type="application/ld+json">
{

	"@context": "http://schema.org/",
    "@type": "MobileApplication",
	"name":"FinDoctors",
	"operatingSystem":"Android",
	"applicationCategory":"http://schema.org/BusinessApplication",
	"url":"https://play.google.com/store/apps/details?id=com.booknmeet.app",
	"description":"FinDoctors mobile app to book confirmed online appointment with Doctor. e-Consultation, e-prescription, pathology lab test, invoices, health package booking so effortlessly."

}

</script>	
		
	<!-- end favicon -->
	
	
	
 <!------------------------------------ SEO DATA STARTS-------------------------------->
 
      
      
      <link rel="amphtml" href="https://www.booknmeet.com/amp/features"/>	   <title itemprop="name">FinDoctors - Online Appointment Scheduling Platform | Features</title>
	
	   
 <meta property="og:title" content="FinDoctors - Online Appointment Scheduling Platform | Features">
			<link rel="canonical" href="https://www.booknmeet.com/" itemprop="url">
			<link href="https://www.booknmeet.com/index.php" rel="canonical" />
      
            <meta property="og:url" content="https://www.booknmeet.com/features"/>
			<meta name="twitter:url" content="https://www.booknmeet.com">
			
			
			<meta property="og:image" content="https://www.booknmeet.com/images/FinDoctors-OG-GOOGLE-vSMS-fb.jpg"/>
			<meta name="twitter:image" content="https://www.booknmeet.com/images/FinDoctors-OG-GOOGLE-vSMS-t.jpg"/>
			<meta itemprop="image" content="https://www.booknmeet.com/images/FinDoctors-OG-GOOGLE-vSMS-google.jpg"/>
			<meta property="og:type" content="SoftwareApplication"/>
			<meta property="og:description" content="FinDoctors - Online Mobile Appointment Scheduling Platform for practice management, clinic management, phone-in appointment"/>	
			<meta property="og:site_name" content="FinDoctors"/>
			<meta property="fb:admins" content="1025717807508438"/>
			
			<meta name="twitter:card" content="summary">
			<meta name="twitter:title" content="FinDoctors | Find and book an appointment online today">
			<meta name="twitter:description" content="e-Consultation, e-prescription, multi-location practice with best online visibility with FinDoctors Mobile App"> 
	  
<meta name="description" content="Easy to use premium Online Appointment scheduling platform in India.Clinics, hospitals, polyclinics with FinDoctors Practice management for better online visibility and improved practice.More features added more frequently.">
<meta name="Keywords" content="online appointment, doctors appointment, clinic appointment, my appointment, mobile appointment, dental appointment, polyclinic appointment, schedule appointment,meet doctors, Hospitals PRACTICE Management, SELF SERVICE PORTAL, FinDoctors, affiliate with booknmeet">
 <meta itemprop="about" content="ONLINE MOBILE APPOINTMENT SCHEDULING PLATFORM">
			<meta itemprop="citation" content="https://www.adspot.in">
			<meta itemprop="name" content="FinDoctors">
			<meta itemprop="image" content="https://www.booknmeet.com/assets/images/FinDoctors.png">
			<meta itemprop="sameAs" content="https://in.linkedin.com/in/booknmeet">
			<meta itemprop="sameAs" content="https://g.page/Booknmeet">
			<meta itemprop="sameAs" content="https://twitter.com/booknmeet">
			<meta itemprop="sameAs" content="https://www.instagram.com/booknmeet/">
			<meta itemprop="sameAs" content="https://youtube.com/@booknmeet">
			<meta itemprop="sameAs" content="https://www.facebook.com/booknmeet">
			<meta itemprop="url" content="https://www.booknmeet.com">
			<meta itemprop="text" content="With FinDoctors, scheduling occurs in one well organised platform so the endless back and forth communication can be avoided and a streamlined communication is guaranteed. Manage multiple location or employees, only show your clients the calendar you want them to see, and block out any dates you will be taking off from work.">


	
	  	
	        
        <!--------------------------------- SEO DATA ENDS ----------------------------------->
      
	

	<!-- GOOGLE WEB FONT -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap">

	<!-- BASE CSS -->
	<link href="https://www.booknmeet.com/css/bootstrap.min.css" rel="preload" as="style"   onload="this.rel = 'stylesheet'">
	<link href="https://www.booknmeet.com/css/style.css" rel="preload" as="style" onload="this.rel = 'stylesheet'">
	<link href="https://www.booknmeet.com/css/menu.css" rel="preload"  as="style" onload="this.rel = 'stylesheet'" >
	
	<link href="https://www.booknmeet.com/css/icon_fonts/css/all_icons_min.css" rel="preload"  as="style"  onload="this.rel = 'stylesheet'">
    <link href="https://www.booknmeet.com/css/custom.css" rel="preload"  as="style"  onload="this.rel = 'stylesheet'">
	
	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">	
	
	
	<!-- <script src="https://www.booknmeet.com/js/offline.min.js" ></script> -->	  
      <script>
         (function(w, d, s, l, i) {
             w[l] = w[l] || [];
             w[l].push({
                 'gtm.start': new Date().getTime(),
                 event: 'gtm.js'
             });
             var f = d.getElementsByTagName(s)[0],
                 j = d.createElement(s),
                 dl = l != 'dataLayer' ? '&l=' + l : '';
             j.async = true;
             j.src =
                 '//www.googletagmanager.com/gtm.js?id=' + i + dl;
             f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'dataLayer', 'GTM-59LQB3');
      </script>
      <!-- End Google Tag Manager -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76144742-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-76144742-1');
	</script>
      <!-- End of  Google Tag Manager -->
      <!--[if lt IE 10]>
      <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
      <script src="js/html5shiv.min.js"></script><![endif]-->
  
  
  
  
      <noscript>
        <link href="https://www.booknmeet.com/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.booknmeet.com/css/style.css" rel="stylesheet">
	<link href="https://www.booknmeet.com/css/menu.css" rel="stylesheet" >
	<link href="https://www.booknmeet.com/css/vendors.css" rel="stylesheet">
	<link href="https://www.booknmeet.com/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
    <link href="https://www.booknmeet.com/css/custom.css" rel="preload"  rel="stylesheet">
      </noscript>
	  
	  
	  
		<meta name="facebook-domain-verification" content="6j13slc4zj89ho8aoxq2o05zr7ly0c" />
		
		 
		<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '255940906364294');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=255940906364294&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
		
		
		
		

</head>

<body>


 <div id="loading-indicator" style="display:none;margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;">
<p style="position: absolute; color: White; top: 50%; left: 45%;">
Processing request, please wait...
<img src="https://www.booknmeet.com/ajax-loader.gif"  />
	  
</p>
</div>

	 <input type="hidden" id="url"  name="url" value="https://www.booknmeet.com/" />
     <input type="hidden" class="_token" name="_token" value="KJWimmxq17K9NXI2piU0I2gTQ64PUmMGOaKKnVS3" />
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
     		 
	 
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-6">
					<div id="logo_home">
						{% comment %} <h1><a title="FIn doctor India" alt="FinDoctors India" href="https://www.booknmeet.com/">FinDoctor</a></h1> {% endcomment %}
						<h1 style="font-weight: bold; margin-left:24vw; ">FinDoctor</h1>
					</div>
				</div>
				<nav class="col-lg-10 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					{% comment %} <ul id="top_access">
						<li><a title="Login FinDoctors Account" href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-user" style="text-shadow: 1px 1px 2px #030321, 0px 0px 1px #202079;
  color: white; "></i></a></li>
						<li><a title="Register Clinic/Poly-clinic/Hospital"     href="/register"><i class="fa fa-user-plus" style="text-shadow: 1px 1px 2px #030321, 0px 0px 1px #202079;
  color: white; "></i></a></li>
					</ul> {% endcomment %}
					<div class="main-menu">
						<ul>
							
							{% comment %} <li><a title="Booknmeet India" alt="Booknmeet India" href="https://www.booknmeet.com/">Home <small>Let's Start</small></a></li>
							<li class="active"><a href="/features" >Features <small>Pandora Box</small></a></li>
							<li  ><a href="/affiliate">Affiliate <small>Let Us Collaborate</small></a></li>
							<li ><a href="/listings">Listings <small>It's Effortless!!</small></a></li>
							<li ><a href="/appointments">Appointments <small>We make it easier</small></a></li>
							<li ><a href="/mobileapp">Mobile App <small>For Patients</small></a></li> {% endcomment %}
							<!--<li ><a title="Request Booknmeet demo"  href="/demo">Request Demo <small>Insights about system</small></a></li>
							<li ><a  title="Booknmeet India Career"  href="/career">Career <small>Work with us</small></a></li>-->
							
						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->	
	
	 	  	  
	  
	   <div tabindex="-1" role="dialog" id="myModal" class="modal fade">
              <!--modal-dialog-->
              <div class="modal-dialog">
                <!--modal-content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="loginClose close"><span aria-hidden="true">&times;</span></button>
                    <!-- <ul id="myTabs" role="tablist" class="nav nav-tabs text-center">
                      <li role="presentation"><a href="#tab0" aria-controls="tab0" role="tab">Log In</a></li>
                    </ul> -->
									
                  </div>
                  <div class="modal-body text-center">
                    <!--Tab panes-->
                
                        <h5>  Login to your Account</h5>
						<br/>
						
                        <form method="POST" action="https://www.booknmeet.com/login/login" accept-charset="UTF-8" id="loginAdmin" data-parsley-validate class="form-horizontal form-label-left"><input name="_token" type="hidden" value="KJWimmxq17K9NXI2piU0I2gTQ64PUmMGOaKKnVS3">  
                    <div class="form-group">
                      <div class="ui input">
							  <input class="required form-control" placeholder="EMAIL ADDRESS" name="email" type="email">
						</div>
                    </div>
                    <div class="form-group">
                      <div class="ui input">
                        <input class="required form-control" placeholder="PASSWORD" name="password" type="password" value="">
                      </div>
                    </div>
                    <button class="btn_1">LOGIN</button>
					</form><br>
					<a href="javascript:;" data-toggle="modal"  data-target="#forgotModal" class="forgotpassword">Forgot Password ?</a>
               
            </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>
			
			<div tabindex="-1" role="dialog" id="forgotModal" class="modal fade">
              <!--modal-dialog-->
              <div class="modal-dialog">
                <!--modal-content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="forgotClose close"><span aria-hidden="true">&times;</span></button>
                    <!-- <ul id="myTabs" role="tablist" class="nav nav-tabs text-center">
                      <li role="presentation"><a href="#tab0" aria-controls="tab0" role="tab">Log In</a></li>
                    </ul> -->
									
                  </div>
                  <div class="modal-body text-center">
				
					    
						<h5 class="ls-100">Forgot Password</h5><br>
                        <form method="POST" action="https://www.booknmeet.com/login/forgotpassword" accept-charset="UTF-8" id="forgotpassword" data-parsley-validate class="form-horizontal form-label-left"><input name="_token" type="hidden" value="KJWimmxq17K9NXI2piU0I2gTQ64PUmMGOaKKnVS3">  
                    <div class="form-group">
                      <div class="ui input">
							  <input class="required form-control" placeholder="EMAIL ADDRESS" name="email" type="email">
						</div>
                    </div>
                    <button class="btn_1">Submit</button>
					</form>
					
                </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>
            
            
     
    <!-- /.modal -->
            









<script>
    
  

          
            
	    var botmanWidget = {
            title:'BNM-Assist',
            mainColor:'#00b8ff',
            bubbleBackground: '#00b8ff',
	        aboutText: 'FinDoctors',
            introMessage: "Greetings! I am here to assist you",
            aboutLink:'https://www.booknmeet.com/privacy',
            bubbleAvatarUrl: '/images/comment-dots-solid.svg',
            mobileHeight:'90%',
            mobileWidth: '200',
	    };
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>	 
	<main>
		<hr style="color:black">
		{% comment %} <div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="https://www.booknmeet.com/">Home</a></li>
					
					<li>Features</li>
				</ul>
			</div>
		</div> {% endcomment %}
		<!-- /breadcrumb -->
		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title">
					<h1>FinDoctors FEATURES</h1>
					<p>Scheduling automation you and your invitees will actually enjoy. </p>
					{% comment %} <img src="/img/bnm/booknmeet-india-thankyou-email-2018.png" data-retina="true" alt="eConsultation (video consultation with Prescription) Online Appointment with Token for the safe Practice at clinic, poly-clinic, hospital" class="img-fluid"> {% endcomment %}
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-8 staticcontent">
					
						<div class="row">
							<div class="col-lg-2">
								 <a href="/videoconsultation"><img src="../static/img/logo1.png" class="img-fluid" alt="FinDoctors video consultation for clinic / poly-clinic / hospital"></a>
								
									<img src="../static/img/vc.webp" data-retina="true" width="120"  alt="FinDoctors Video Consultation is now available on Google Play" class="img-fluid">
								
							</div>
							<div class="col-lg-10 staticcontent">

							<h6 class="add_bottom_15">VIDEO CONSULTATION</h6>
						<p>Consult patients remotely through video consultation & do real-time visual and audio patient assessment. it’s a friction-less approach combining e-consult, e-prescription, e-payment along with secure Video Consultation. FinDoctors Virtual Consultation module possess the capability of handling large segment of specialised medical segment with follow-up consultation also for someone who needs advice.</p><br>
							
							</div>
						</div>
						
						<h6 class="add_bottom_15">PRESCRIPTION</h6>
						<p>Generate your own custom prescriptions online. it is synced with appointment and patient info. store generated prescription and access effortlessly. An integrated Prescription tool with choices of Generic and Brands from a vast entries of 80,000 Generate Your personalised prescription and Print or send via email or WhatsApp.</p><br>
						<h6 class="add_bottom_15">INVOICE - OUR INVOICE GENERATOR SAVES YOU TIME.</h6>
						<p>Personalized invoice with consultation, services / treatment billing information. Print or Send via email. Add list of service / procedures and store it. easy to edit and tweak. work seamless with appointment to capture time and consultation details. store invoice history for all patients. You can email your invoice, download a PDF copy, or share your invoice as a link, all using our invoice engine.
Get shareable and printable online invoice in one go with Itemized fees, Date,Invoice number, Name and Details of patients.</p><br>
						<div class="row">
							<div class="col-lg-2">
								{% comment %} <img src="../static/img/back.gif" class="img-fluid" alt="FinDoctors feedback system for clinic / poly-clinic / hospital"> {% endcomment %}
							</div>
							<div class="col-lg-10 staticcontent">

								<h6 class="add_bottom_15">FEEDBACK</h6>

								<p>Personalised feedback system for your practice. This tool help you to bring betterment to your practice and overall staff management and Improved patient servicing. The review is privately presented to consultant by notification after each review is submitted by patient post consultation.</p><br>
							
							</div>
						</div>
						<h6 class="add_bottom_15">HEALTH PACKAGES</h6>

						<p>FinDoctors offer the best online visibility of listed health packages. List special price for selected health packages and specify the Insurance covered one for the preferred audience.
Easy to edit and monitor the reach of the offering with better online visibility.</p><br>

<h6 class="add_bottom_15">VACCINATION REMINDER   </h6>

						<p>Get notified to follow the schedule of upcoming vaccination as per the IAP (Indian Academy of Pediatrics) Recommendations. Never miss out on Vaccination dates with personalized messages on your mobile..
Create Your Child's Vaccination Schedule with date of birth.
</p><br>

<h6 class="add_bottom_15">CLINICAL PROCEDURE SCHEDULING   </h6>

						<p>Procedure Scheduling Simplified for Clinic, Poly-Clinic and Hospital. Ensure that a patient knows what to expect during clinical procedure and ensure that everything is in place for the procedure to occur.
</p><br>

<h6 class="add_bottom_15">NUTRITION PRACTICE MANAGEMENT</h6>
<p>
Business Management Platform empowering Dietitian & Nutritionist. Manage practice with ready to adapt healthcare. Get an overview of your practicing day / week / month  and be more organised with a dedicated calendar along with daily reminders of practicing schedules effortlessly. You can also create recipes; invite your secretary to manage the appointment scheduling for clinic or Online, add multi-location practice and your entity logo.</p>

<br>


							<div class="row">
							<div class="col-lg-2">
								{% comment %} <img src="/img/bnm/FinDoctors-CLINIC-MOTHER-CHILD-01.svg" class="img-fluid" alt="FinDoctors QMM with token for clinic / poly-clinic / hospital"> {% endcomment %}
							</div>
							<div class="col-lg-10 staticcontent">

								<h6 class="add_bottom_15">FinDoctors QMM (QUEUE MANAGEMENT MODULE)</h6>

								<p>Improve outpatient (OP) flow at Hospitals and clinics with FinDoctors's QMM that enables facility to efficiently organize staff, resources and patient queues so that patients receive the right care at the right time in a comfortable, hassle-free environment. FinDoctors QMM has inbuilt facility to sent the SMS alerts to Patient on trigger like Queue Token generation, Prior schedule Reminder, indication that patient has been called for consultation etc.</p><br>
							
							</div>
						</div>




						
						<h6 class="add_bottom_15">SIMPLIFIES SCHEDULING</h6>

						<p>Co-operates with your calendar<br>
No switching between your calendar and FinDoctors<br>
Avoid conflicting bookings<br>
Automatically sync appointments to your calendar<br>
Be in control of your appointments with Premium FinDoctors<br><br>

See who is missing at first sight<br>
Send automatic or manual reminders<br>
Demand additional information such as e-mail address or phone number.</p><br>


<div class="row">
							<div class="col-lg-2">
								{% comment %} <img src="/images/FinDoctors-GOOGLE-VERIFIED-MESSAGES-01.svg" class="img-fluid" alt="FinDoctors verified messages"> {% endcomment %}
							</div>
							<div class="col-lg-10 staticcontent">

								<h6 class="add_bottom_15">GOOGLE VERIFIED MESSAGING</h6>

								<p>We care about the security of your mobile devices. To protect the customers from scammers and frauds, our Platform communicates only through Google Verified services.  FinDoctors is a GOOGLE verified Message Partner </p><br>
							
							</div>
						</div>
<BR>

						<h6 class="add_bottom_15">INTEGRATIONS HELP YOU WORK HOW YOU WANT TO WORK</h6>

						<p>Scheduling automation you and your invitees will actually enjoy. Automate your client / affiliates bookings, reschedule, cancellations, reminders (and zero frustration.) Clients can see your real-time calendar availability (day / week/ month views), self-select the time that works best for them, and easily book (slot) their own appointments in advance, sparing you 95% of current headaches, mix-ups & grunts of frustration.<br>
Ironclad calendar coordination: Never let another client fall through the cracks, miss a beat, or lose a booking. Get notified any time a new appointment is booked, check your schedule right from your phone, and even tell FinDoctors to automatically update the calendars you already use., like Google, Outlook, iCal or Office 365.</p>



<br>


							<div class="row">
							<div class="col-lg-2">
								{% comment %} <img src="/images/FinDoctors-GOOGLE-AMP-DYNAMIC-EMAIL-01.svg" class="img-fluid" alt="FinDoctors AMP DYNAMIC EMAILS"> {% endcomment %}
							</div>
							<div class="col-lg-10 staticcontent">

								<h6 class="add_bottom_15">GOOGLE AMP DYNAMIC EMAIL</h6>

								<p>Increased Customer engagement is by targeted personalization through dynamic email communication with best efforts to personalize health tech enabling communication channel of FinDoctors for scheduling, feedback etc..<br>
One of the key ingredients of omnichannel personalization is the adaptive content ( actions occurring within EMail Interface ), which facilitates personalized interactions across various modules to attract a customer and foster brand loyalty with a much deeper level of personalization.</p><br>
							
							</div>
						</div>


					</div>
					<div class="col-lg-1">
						&nbsp;
					</div>
					<div class="col-lg-3">
						<ul class="bullets">
                      <li>Appointment Management</li>
					   <li>VIRTUAL CONSULTATION</li>
					  <li>ONLINE PRESCRIPTION</li>
					  <li>INVOICE</li>
					  <li>PROACTIVE FEEDBACK</li>
					  <li>HEALTH PACKAGES</li>
					 <li>VACCINATION REMINDER   </li><li> IMMUNIZATION SCHEDULE</li>
					 <li>CLINICAL PROCEDURE SCHEDULING </li>
					    <li>Demographic Data</li>
						
						 
						   <li>Facility Scheduling</li>
						    <li>Multi-Location</li>
							 <li>No-Show Tracking</li>
							  <li>On Call Scheduling</li>
							    <li>Patient Scheduling</li>
								 <li>Physician Scheduling</li>
								  <li>Practice Management</li>
								   <li>Recurring Appointments</li>
								    <li>Reminders</li>
									 <li>Custom URL</li>
									 <li>Self Service Portal</li>
									 <li>Staff Scheduling</li>
									 
									 <li>Automate patient queuing.</li>
									  <li>Automate service flow.</li>
									   <li>Shorter wait times.</li>
									    <li>Clear navigation.</li>
										 <li>Delivers real-time information</li>

                    </ul>
                
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->
	</main>
	<!-- /main content -->
	
<style>
.modal-backdrop {
  z-index: -1;
}
</style>

	<div class="output"></div>

	 	<footer >
		 		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<p>
						{% comment %} <a href="https://www.booknmeet.com/" title="FinDoctors ONLINE APPOINTMENT PLATFORM">
							<img src="/img/bnm/FinDoctors.svg" alt="FinDoctors INDIA'S BEST ONLINE APPOINTMENT SCHEDULING PLATFORM" width="165" height="30" class="img-fluid">
						</a> {% endcomment %}
					</p>
					<h5>Online Appointment Scheduling Platform</h5>
					<ul class="contacts">
						<li><a href="#" target="_new"><i class="fa fa-map-marker">Bande Kodigehalli, Singahalli, Karnataka 562149</i></a></li>
						<li><a href="#"><i class="fa fa-mobile-phone"></i>+91 9496 947 548</a></li>
						<li><a href="#"><i class="fa fa-envelope"></i>post@FinDoctors.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Follow us</h5>
						<ul>
							<li><a href="https://www.facebook.com/" target="_new"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/" target="_new"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://in.linkedin.com/" target="_new"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://www.instagram.com/" target="_new"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://api.whatsapp.com/" target="_new"><i class="fa fa-whatsapp"></i></a></li>
							<li><a href="https://youtube.com/@" target="_new"><i class="fa fa-youtube" target="_new"></i></a></li>
							<li><a href="https://play.google.com" target="_new"><i class="fa fa-android" target="_new"></i></a></li>
						</ul>
					</div><br>
					<p>
						{% comment %} <a href="https://play.google.com/store/apps/details?id=com.booknmeet.app" target="_new" title="FinDoctors mobile app now available on Google playstore">
							<img src="/img/bnm/google-play-badge-bnm-vc-01.svg" width="120" height="36" alt="FinDoctors mobile app now available on Google playstore" class="img-fluid">
						</a> {% endcomment %}
					</p>
					
				</div>
				<div class="col-lg-3 col-md-4">
				
					<ul class="links">
					<li><a href="#">Clinical Procedure Scheduling</a></li>
					<li><a href="#">Vaccination</a></li>
					<li><a href="#">Nutrition Practice</a></li>
					<li><a href="#">Compare Plans</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Personal Information Policy</a></li>
						<li><a href="#">Video Consultation Policy</a></li>
						<li><a href="#">Trade Mark Notice</a></li>
						<li><a href="#">FAQ</a></li>
						
						<li><a href="/limitedoffer">Special Offer</a></li>
					</ul>
					<p>Subscribe to FinDoctors Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
					 <form method="post" action="" class="rd-mailform subscribe" id="subscription_mail" data-parsley-validate="">
						 <input type="hidden" name="form-type" value="subscribe">
						 <input id="email_id" name="email_id" data-parsley-trigger="change" required="" type="email" class="form-control" placeholder="Email"><br><input type="submit" class="btn_1" value="Submit"><div class="mfInfo"></div>												 
					 </form>
				</div>
				
				
				 				
				<div class="col-lg-5 col-md-5" id="homepagesection">
					<a class="btn btn-sm btn-primary" href="#">Request FinDoctors Demo</a>
					<a class="btn btn-sm btn-primary" href="#">Career@FinDoctors</a>
					
					<a class="btn btn-sm btn-primary" href="#" >WEBSTORIES</a>
					<h5 style="margin-top: 20px;">Your guaranteed Mobile Online Appointment</h5>
					<p>With FinDoctors productivity tool, be successful in avoiding unscheduled absences. let our tool support you to be a leader in your medical practice. The best online appointment scheduling Platform enhances your practice management with online profile visibility.</p>
					
				</div>
				
								
			
			</div>
			<br><br>
			<!--/row-->
			<div class="row">
				<div class="col-md-12">
				  				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
				
					{% comment %} <p>
						<a target="_blank" href="http://www.newindianexpress.com/cities/kochi/2017/feb/08/book-n-meet-a-doctor-1568476.html"><img style="width:168px;height:21px;margin-right:25px;" alt="Booknmeet startup based in Kochi featured by National media,The New IndianExpress-Startupedia" class="img-fluid" src="/img/theNewIndianExpress-booknmeet-2020.png"></a>
						
						<a target="_blank" href="http://epaperbeta.timesofindia.com/Article.aspx?eid=31811&amp;articlexml=Startups-wake-up-to-new-avenues-30072017002046"><img style="width: 165px;height:21px;margin-right:25px" alt="Booknmeet startup based in Kochi featured by National media,The Times of India-TOI-Startup feature by local correspondant" class="img-fluid" src="/img/theTimesofIndia-booknmeet-2020.png"></a>
						
						<a target="_blank" href="https://www.vanitha.in/justin/book-in-meet-prashanthi-nadhan-article-vanitha.html"><img style="width: 127px;height:36px;" alt="Booknmeet startup based in Kochi featured by National media,Vanitha-Startup feature by local correspondant" class="img-fluid" src="/img/Vanitha-Manorama-booknmeet-2020.png"></a>
					
					</p> {% endcomment %}
				
				</div>
			
			</div>
			<hr>
			<div class="row">
				{% comment %} <div class="col-md-8">
					<ul id="additional_links">
						
						<li><a href="https://qstat.co" target="_new"  title="FinDoctors QMS WITH TOKEN">QSTAT</a></li>
						
						
						<li><a href=" http://startups.startupmission.in/c/460" class="text-transform-none" target="_blank" title="Kerala Startup Mission Certified Startup">KSUM</a></li>
						<li><a href="https://www.startupindia.gov.in/content/sih/en/profile.Startup.59807990e4b0bed982a4ed5c.html" class="text-transform-none" target="_blank" title="Govt. of India Certified Startup">STARTUPINDIA</a></li>
					</ul>
				</div> {% endcomment %}
				<div class="col-md-4">
					<div id="copy">Copyright © 2023 All Rights Reserved by FinDoctors</div>
				</div>
			</div>
		</div>
			</footer>
	<!--/footer-->
	
	<!--<div id='modal_new' class='modal fade bs-modal-lg in' tabindex='-1' role='dialog' aria-hidden='true' style='display: none; padding-right: 15px;'>
		<div class='modal-dialog' style='margin: 17% auto 0 !important;max-width: 400px !important;width: 45.625rem !important;'>
			<div class='modal-content'>
				<div class='modal-header' style="text-align: center;margin: 0 auto;">
					<img style='float: left;'  width=15px height=15px  src='https://www.booknmeet.com/assets/images/pic.png'/>
					<h6 id="modalhead" style="margin-left:10px"></h6>
				</div>
				<div class='modal-body' style='height: 60px;'>
					<div class='col-md-12 col-sm-12 col-xs-12 col-md-offset-3' style="display: flex;align-items: center;justify-content: center;">
						<button  type='button' class='btn btn-sm btn-primary okbutn'>Ok</button>
					</div> 
				</div>
			</div>
		</div>
	</div>-->
	
	
	
	
	
	<div id="toTop"></div>
	<!-- Back to top button -->
	
	<script src="https://www.booknmeet.com/js/jquery-2.2.4.min.js" ></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<script src="https://www.booknmeet.com/js/parsley.min.js"></script>
	<script src="https://www.booknmeet.com/js/common_scripts.min.js"></script>
	<!--<script src="https://www.booknmeet.com/js/owl.carousel.min.js"></script>-->
	<script src="https://www.booknmeet.com/js/functions.js"></script>

	<script>
		$(document).ready(function(){
		'use strict';
		 
		
	//loader for frontend
	function addLoader(){
		$("#loading-indicator").show();
	}

	//remove loader
	function removeLoader(){
		$("#loading-indicator").hide();
	}	

	var url=document.getElementById('url').value;
		//admin login
	$("#loginAdmin").submit(function(e){
		e.preventDefault();
		var parent = $(this);
		var html="";
		var parentModal = parent.parents(".modal");
		var clicked = $(this).find("button");
		var action = $(this).attr('action');
		if ( $(this).parsley().isValid() ) {
			parentModal.hide();
			addLoader();
			$.post( action, $(this).serialize(), function( data ) {
                if(data.error){
					parentModal.show();
                    parent.find(".alert").remove();
					html ="<div class='alert alert-danger' style='margin-top: 10px;'>"+data.error+"</div>";
					clicked.after(html);
                }else if(data.redirect){
                    window.location.assign(url+'profile/multiple-profile');
                }else{
                    window.location.assign(url+'dashboard');
                }
				removeLoader();
            }, "json").fail(function(response) {
					parentModal.show();
					parent.find(".alert").remove();
				    var error = $.parseJSON(response.responseText);
						var html = "<div class='alert alert-danger' style='margin-top: 10px;'>";
						$.each(error,function(key,value){
							html+=value+", ";
						});
						html = html.replace(/,\s*$/, "");
						html+="</div>";
						clicked.after(html);
						removeLoader();
			}); 
		}
	});
	$(".forgotpassword").click(function(){
		$(".loginClose").trigger('click');
	});
	$("#forgotpassword").submit(function(e){
		e.preventDefault();
		var parent = $(this);
		var html="";
		var clicked = $(this).find("button");
		var action = $(this).attr('action');
		if ( $(this).parsley().isValid() ) {
			addLoader();
			$.post( action, $(this).serialize(), function( data ) {
                if(data.error){
                    parent.find(".alert").remove();
					html ="<div class='alert alert-danger' style='margin-top: 10px;'>"+data.error+"</div>";
					clicked.after(html);
                }else{
                    parent.find(".alert").remove();
					html ="<div class='alert alert-success' style='margin-top: 10px;'>"+data.success+"</div>";
					clicked.after(html);
					setTimeout(function(){$(".forgotClose").trigger('click')},1000);
                }
				removeLoader();
            }, "json").fail(function(response) {
					parent.find(".alert").remove();
					$error = $.parseJSON(response.responseText);
						var html = "<div class='alert alert-danger' style='margin-top: 10px;'>";
						$.each($error,function(key,value){
							html+=value+", ";
						});
						html = html.replace(/,\s*$/, "");
						html+="</div>";
						clicked.after(html);
						removeLoader();
			}); 
		}
	});
		
		
		
		
		
		
		
		
		});
		
		$(function () {
	
							
			  $('#subscription_mail').parsley().on('field:validated', function() {
				var ok = $('.parsley-error').length === 0;
			  
			  })
			  .on('form#subscription_mail:submit', function() {
					 
					var url=$('#url').val();
					var mailid=$('#email_id').val();
					
					$.ajax({url: url+'newslettersubscriptionpost',
					
					   headers:
							{
							 'X-CSRF-Token': $('input[name="_token"]').val()
							},
					
					 beforeSend: function () {
									$("#loading-indicator").show();
								 },
					
					type: 'POST',
					data: {mailid:mailid},
				   
					success: function(data){
						
						$("#loading-indicator").hide();
						
						
						
	
 	  var modal_window=	"<div id='modal_new' class='modal fade bs-modal-lg in' tabindex='-1' role='dialog' aria-hidden='true' style='z-index:1;display: none; padding-right: 15px;'><div class='modal-dialog' style='margin: 17% auto 0 !important;max-width: 400px !important;width: 45.625rem !important;'><div class='modal-content'><div class='modal-header' style='text-align: center;margin: 0 auto;'><img style='float: left;'  width=15px height=15px  src='https://www.booknmeet.com/assets/images/pic.png'/><h6 id='modalhead_demo' style='margin-left:10px'>"+data.message+"</h6></div><div class='modal-body' style='height: 60px;'><div class='col-md-12 col-sm-12 col-xs-12 col-md-offset-3' style='display: flex;align-items: center;justify-content: center;'><button  type='button' class='btn btn-sm btn-primary okbutndemo'>Ok</button></div></div></div></div></div>";	  

      
	
	  
						 $('.output').html(modal_window);
						 $("#modal_new").modal('show');
						
						 
						//modal_window_suscribe(data.message);
						//$('#modalhead').html(data.message);
						//$("#modal_new").modal('show');
						$('#email_id').val('');
						 
						 
					}});
			 
			   return false;
			  });
			;
		});
		
	  
	  
	   $('body').on('click', '.okbutn,.closebtn', function (e){
	  	 $("#modal_new").modal('hide');		
	  	});
	  
	</script>

</body>

</html>
